# ignore EVC testing dir
EVC_RunTest/EVC_test2/
EVC_RunTest/evc-test3/
EVC_RunTest/evc-selective-runner/
EVC_RunTest/esp-python/
EVC_RunTest/Face/
EVC_RunTest/Fashion/
EVC_RunTest/Hardhat/
EVC_RunTest/Windmill

# ginore auth keys
certs/

# ignore tar files
*.tar.gz

# ignore download files
grafana_10.0.3_amd64.deb

# ignore sample videos
EVC_RunTest/sample_imgs/

# ignore nohup output
EVC_RunTest/nohup.out
